<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GameData</key>
	<dict>
		<key>LevelNum</key>
		<integer>0</integer>
	</dict>
	<key>Levels</key>
	<array>
		<array>
			<string>cat</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<string>dog</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>mouse</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
		</array>
		<array>
			<string>rooster</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>frog</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>lion</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>elephant</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>horse</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
		</array>
		<array>
			<string>bear</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>bee</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>dolphin</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<string>duck</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>1</integer>
			<integer>2</integer>
			<integer>1</integer>
			<integer>3</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>seal</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
		<array>
			<string>sheep</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
		</array>
		<array>
			<string>owl</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>tiger</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>6</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>person</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>5</integer>
			<integer>4</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>snake</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>3</integer>
			<integer>2</integer>
			<integer>1</integer>
		</array>
		<array>
			<string>cow</string>
			<integer>1</integer>
			<string>2</string>
			<string>1</string>
			<string>3</string>
			<string>1</string>
		</array>
		<array>
			<string>pig</string>
			<integer>1</integer>
			<integer>2</integer>
			<integer>3</integer>
			<integer>4</integer>
		</array>
	</array>
	<key>Title</key>
	<array>
		<string>splash</string>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
		<integer>4</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>5</integer>
		<integer>4</integer>
		<integer>3</integer>
		<integer>2</integer>
		<integer>1</integer>
	</array>
</dict>
</plist>
