<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MUSIC_intro</key>
	<string>MUSIC_intro</string>
	<key>VO_bear</key>
	<string>EL_bear</string>
	<key>VO_bee</key>
	<string>EL_bee</string>
	<key>VO_cat</key>
	<string>EL_cat</string>
	<key>VO_cow</key>
	<string>EL_cow</string>
	<key>VO_dog</key>
	<string>EL_dog</string>
	<key>VO_dolphin</key>
	<string>EL_dolphin</string>
	<key>VO_duck</key>
	<string>EL_duck</string>
	<key>VO_elephant</key>
	<string>EL_elephant</string>
	<key>VO_frog</key>
	<string>EL_frog</string>
	<key>VO_horse</key>
	<string>EL_horse</string>
	<key>VO_lion</key>
	<string>EL_lion</string>
	<key>VO_mouse</key>
	<string>EL_mouse</string>
	<key>VO_owl</key>
	<string>EL_owl</string>
	<key>VO_person</key>
	<string>EL_person</string>
	<key>VO_pig</key>
	<string>EL_pig</string>
	<key>VO_rooster</key>
	<string>EL_rooster</string>
	<key>VO_seal</key>
	<string>EL_seal</string>
	<key>VO_sheep</key>
	<string>EL_sheep</string>
	<key>VO_snake</key>
	<string>EL_snake</string>
	<key>VO_tiger</key>
	<string>EL_tiger</string>
	<key>SFX_bear</key>
	<string>SFX_bear</string>
	<key>SFX_bee</key>
	<string>SFX_bee</string>
	<key>SFX_cat</key>
	<string>SFX_cat</string>
	<key>SFX_cow</key>
	<string>SFX_cow</string>
	<key>SFX_dog</key>
	<string>SFX_dog</string>
	<key>SFX_dolphin</key>
	<string>SFX_dolphin</string>
	<key>SFX_duck</key>
	<string>SFX_duck</string>
	<key>SFX_elephant</key>
	<string>SFX_elephant</string>
	<key>SFX_frog</key>
	<string>SFX_frog</string>
	<key>SFX_horse</key>
	<string>SFX_horse</string>
	<key>SFX_lion</key>
	<string>SFX_lion</string>
	<key>SFX_mouse</key>
	<string>SFX_mouse</string>
	<key>SFX_owl</key>
	<string>SFX_owl</string>
	<key>SFX_person</key>
	<string>SFX_person</string>
	<key>SFX_pig</key>
	<string>SFX_pig</string>
	<key>SFX_rooster</key>
	<string>SFX_rooster</string>
	<key>SFX_seal</key>
	<string>SFX_seal</string>
	<key>SFX_sheep</key>
	<string>SFX_sheep</string>
	<key>SFX_snake</key>
	<string>SFX_snake</string>
	<key>SFX_tiger</key>
	<string>SFX_tiger</string>
	<key>SFX_nextAnimal</key>
	<string>SFX_nextAnimal</string>
	<key>SFX_nextScreen</key>
	<string>SFX_nextScreen</string>
	<key>VO_title</key>
	<string>EL_title_LBanimals</string>
</dict>
</plist>
